/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.all-liens {
    color: #000000;
    text-decoration:none;
}

/******************* Partie Header **************************/

.dekstop_header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    width: 100%;
}

.div_logo{
    display: flex;
}

.logo_booki{
    align-self: center;
}
h1{
    margin-bottom: 0;
}
.p-description{
    margin: 10px 0 0 0;
}
.navbar_header{
    display: flex;
    justify-content: flex-end;
    gap:68px;
}
.lien_header{
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    height: 35px;
}

.lien_header:hover{
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    height: 33px;
}

/******************* Partie Info Group **************************/

.form-search{
    display: flex;
    height: 49px;
    margin: 32px 0;
}
.maps-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}
.text-input{
    display: flex;
    text-align: center;
    width: 195px;
    border-right: none;
    border-left: none;
    border-top: var(--main-bg-color) solid 1px;
    border-bottom: var(--main-bg-color) solid 1px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}
.text-input::placeholder{
    color: #000000;
    opacity: 1;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    width: 132px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
}
.search-responsive{
    display: none;
}

.search:hover{
    cursor: pointer;
}
.filter{
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-filter{
    display: flex;
    align-items: center;
    padding: 0 19px 0 19px;
    height: 45px;
    border: var(--main-bg-color) 2px solid;
    border-radius: 25px;
    gap: 10px;
    font-weight: bold;
}
.p-filter{
    font-weight: bold;
    display: flex;
}
.item-filter:hover{
    background-color: var(--filter-bg-color);
    cursor:pointer
}

.info-filter{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.border-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #D9D9D9 solid 1px;
    border-radius: 50px;
    height: 24px;
    width: 24px;
}
.fa-location-dot{
    color: #000000;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px 25px;
    box-sizing: border-box;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card .img-populaire {
    object-fit: cover;
}
.card-hebergement .img-hebergement {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/

.hebergements {
    width: 66%;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-between;
}
.card-hebergement{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 29%;
    margin-top: 33px;
}
.card-hebergement .img-hebergement{
    width: 100%;
    height: 104px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergments-cards .card-hebergement {
    margin-top: 33px;
}

.card-hebergement .card-content-hebergement {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-hebergement .card-title {
    margin-top: 6px;
    margin-bottom: 4px;
}

.hebergments-cards .card-subtitle {
    margin: 0;
}

.card-hebergement .card-rating {
    margin-bottom: 7px;
}
.section-title-info{
    margin-top: 50px;
}
/****** Populaires ***********/

.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .img-populaire {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}

/**************************Section Activités****************************************/
.activity-section {
    margin: 40px 0 50px 0;
}
.article-box{
    margin: 40px 20px;
    display: flex;
    gap: 2%;
}
.card-activity{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 1px 2.5px 9px #D2D2D2;
    width: 35%;
    text-decoration: none;
    color: #000000;
}
.card-activity .img-activity {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-activity .img-activity {
    object-fit: cover;
}
.title-activity{
    font-size: 16px;
    padding-left: 15px;
}
.activity-h2{
    margin-left: 20px;
}
.div-title-activity{
    display: flex;
    align-content: center;
}

/*****************************  Footer *********************************/
.footer{
    display: flex;
    gap: 14%;
    background-color: var(--main-bg-color);
    height: 160px;
}
.footer-box{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap : 12%;
    padding: 1.7% 0;
}

.footer-box:last-child{
    margin-left: 5%;
}
.h3-footer{
    margin:0;
    font-size: 18px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container{
        padding: 0 40px;
    }
    .filter{
        flex-wrap: wrap;
        gap: 10px;
    }
    .p-filter{
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    .hebergements-cards .card-hebergement{
        height: 10%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 31%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .article-box{
        justify-content: space-between;
    }
    .card-activity .img-activity{
        height: 180px;
    }
    .card-activity{
        width: 22%;
        height: auto;
    }
    .title-activity{
        font-size: 14px;
    }
    .footer{
        gap: 10%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /*Responsive Header*/
    .body{
        margin: 0;
    }
    .dekstop_header{
        flex-direction: column;
        margin-bottom: 12%;
    }
    .navbar_header{
        justify-content:center ;
        width: 100%;
        gap: 15px 0;
    }
    .div_logo{
        justify-content: center;
        padding: 30px;
        gap: 10px;
    }
    .lien_header:hover{
        border-bottom: var(--main-color) solid 2px;
        border-top: none;
    }
    .lien_header{
        width: 50%;
        border-bottom: var(--main-bg-color) solid 2px;
        height: 33px;
        justify-content: center;
        align-items: flex-start;
    }
    .main-container{
        padding: 0;
    }
    /********************************************************/ 
    
    .info-group{
        margin:0 5%;
        padding-top: 5px;
    }
    .item-filter{
        width: 115px;
        justify-content: center;
    }
    .p-text-size{
        font-size: 14px;
    }
    .filter{
        flex-wrap: wrap;
        gap: 10px;
    }
    .p-info{
        display: flex;
        width: 90%
    }
    .search-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 4px 7px -1px grey;
        width: 50px;
        color: white;
        font-weight: bold;
        background-color: var(--main-color);
        margin:0 -10px;
    }
    .fa-magnifying-glass{
        color: #FFFFFF;
    }
    .search{
        display: none;
    }
    /***********************************************************/

    .hebergements-and-populaires section{
        border-radius:0 ;
    }
    .hebergements{
        order:2;
        background-color: #FFFFFF !important;
    }
    .hebergements-cards{
        flex-direction: column;
    }
    .hebergements-cards .card-hebergement{
        width: 100%;
    }
    .card-hebergement .img-hebergement {
        height: 120px
    }
    .populaires{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 1;
        margin-top: 10px;
    }
    
    .populaires-cards{
        display: flex;
        flex-direction: column;
    }
    .populaires-cards .card{
        width: 100%;
    }
    /******************************************************/
    .activity-section {
        display: flex;
        flex-direction: column;
    }
    .article-box{
        flex-direction: column;
        gap:40px
    }
    .card-activity{
        width: 100%;
    }
    /******************************************************/
    .footer{
        flex-direction: column;
        height: auto;
    }
    .footer-box{
        padding:5% 0;
        gap: 16px;
    }
    .footer-box:last-child{
        margin-left: 20px;
    }
}